body.studio332-site {
   background-color: white;
   margin: 0;
   overflow: scroll !important;
}
div.content {
   width: 800px;
   margin: 0 auto;
   background: white;
}

div.s332-header {
   border-bottom: 4px solid #ca0000;
   margin-bottom:5px;
}
